*
{
   font-family: sans-serif;
}

canvas
{
  border: 1px solid black;
}

canvas, div
{
   display: inline-block;
   vertical-align: top;
}

button, input, p
{
   margin-left: 8px;
   margin-right: 8px;
}

input
{
   width: 48px;
}
