<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Test session</title>
   </head>

   <body>  
      Session id in HTTP request: <%=sessionId%>
      <div id="divId">Waiting for socket.io message...</div>
      
      <script src="http://albertine:3003/socket.io/socket.io.js"></script>
     
      <script>
         var socket = io.connect('albertine:3003');
         socket.on('message', function(data) { document.getElementById('divId').innerHTML = data; })
      </script>
   </body>
</html> 
